# PROGRAM NO # 1

In [2]:
phonebook1 = {'123-45-67', '234-56-78', '345-67-89','123-45-67', '34567-89'} 
print (phonebook1) 
set_len = len (phonebook1) 
print ("The length of phonebook1 is:", set_len)
print ("The given phonebook1 is:", phonebook1)

{'345-67-89', '234-56-78', '34567-89', '123-45-67'}
The length of phonebook1 is: 4
The given phonebook1 is: {'345-67-89', '234-56-78', '34567-89', '123-45-67'}

# PROGRAM NO # 2

In [3]:
mix_data = {'Usman Institute of Technology', 17.5, (1,2,3,4,5,6)}
print(mix_data)
set_len = len(mix_data)
print ("The length of mix data is:",set_len)

{17.5, (1, 2, 3, 4, 5, 6), 'Usman Institute of Technology'}
The length of mix data is: 3

# PROGRAM NO # 3

In [5]:
dataScientist = set(['Python', 'R', 'SQL', 'Git', 'Tableau', 'SAS'])
dataEngineer = set(['Python', 'Java', 'Scala', 'Git', 'SQL', 'Hadoop']) 
print ("For a Data Scientist specialization you need:", dataScientist) 
print ("For a Data Engineer specialization you need:", dataEngineer)

For a Data Scientist specialization you need: {'Tableau', 'SQL', 'R', 'Python', 'Git', 'SAS'}
For a Data Engineer specialization you need: {'Java', 'SQL', 'Git', 'Python', 'Scala', 'Hadoop'}

# PROGRAM NO # 4

In [6]:
My_empty_set = set() 
My_empty_dictionary1 = dict()
My_empty_dictionary2 = {} 
 
print(My_empty_set)
print(My_empty_dictionary1) 
print(My_empty_dictionary2)

set()
{}
{}

# PROGRAM NO # 5

In [8]:
My_topStudents = {'Bassam','Usman','Rafeh', 'Ahad', 'Wadood','Yusra', 'Asma'} 
print('My top scoring students in Programming fundamentals are:', My_topStudents) 
print('Oh, I guess I miss one student, let me add his name too')
print('Previously I have added :'+ str(len(My_topStudents)) +' students in my list')
My_topStudents.add('Khurram') 
print('Thanks, I have remember him')
print('Now my top scoring students names are :', My_topStudents)
print('Now after adding I have :'+ str(len(My_topStudents)) +' students in my list')

My top scoring students in Programming fundamentals are: {'Yusra', 'Usman', 'Bassam', 'Wadood', 'Rafeh', 'Ahad', 'Asma'}
Oh, I guess I miss one student, let me add his name too
Previously I have added :7 students in my list
Thanks, I have remember him
Now my top scoring students names are : {'Yusra', 'Usman', 'Bassam', 'Khurram', 'Wadood', 'Rafeh', 'Ahad', 'Asma'}
Now after adding I have :8 students in my list

# PROGRAM NO # 6

In [12]:
My_topStudents = {'Bassam','Usman','Rafeh', 'Ahad', 'Wadood','Yusra', 'Asma'} 
print('My top scoring students in Programming fundamentals are:', My_topStudents)
print('Oh, I guess I miss one student, let me add his name too')
print('Previously I have added :'+ str(len(My_topStudents)) +' students in my list') 
My_topStudents.add('Khurram Khalil') 
My_topStudents.add('Khurram Khan')
print('Thanks, I have remember him') 
print('Now my top scoring students names are :', My_topStudents)
print('Now after adding I have :'+ str(len(My_topStudents)) +' students in my list')
print('Oh, I guess I have added one student with similar name, let me remove his name.')
My_topStudents.remove('Khurram Khalil')
print('Now my top scoring students names after removing extra name are :', My_topStudents) 
print('Now after removing I have :'+ str(len(My_topStudents)) +' students in my list')

My top scoring students in Programming fundamentals are: {'Yusra', 'Usman', 'Bassam', 'Wadood', 'Rafeh', 'Ahad', 'Asma'}
Oh, I guess I miss one student, let me add his name too
Previously I have added :7 students in my list
Thanks, I have remember him
Now my top scoring students names are : {'Yusra', 'Usman', 'Bassam', 'Khurram Khalil', 'Wadood', 'Rafeh', 'Khurram Khan', 'Ahad', 'Asma'}
Now after adding I have :9 students in my list
Oh, I guess I have added one student with similar name, let me remove his name.
Now my top scoring students names after removing extra name are : {'Yusra', 'Usman', 'Bassam', 'Wadood', 'Rafeh', 'Khurram Khan', 'Ahad', 'Asma'}
Now after removing I have :8 students in my list

# PROGRAM NO # 7

In [15]:
My_topStudents = {'Bassam','Usman','Rafeh', 'Ahad', 'Wadood','Yusra', 'Asma'} 
print('My top scoring students in Programming fundamentals are:', My_topStudents) 
print('Oh, I guess I miss one student, let me add his name too') 
print('Previously I have added :'+ str(len(My_topStudents)) +' students in my list') 
My_topStudents.add('Khurram Khalil') 
My_topStudents.add('Khurram Khan')
print('Thanks, I have remember him')
print('Now my top scoring students names are :', My_topStudents)
print('Now after adding I have :'+ str(len(My_topStudents)) +' students in my list')
print('Oh, I guess I have added one student with similar name, let me remove his name.') 
My_topStudents.remove('Khurram Khalil') 
print('Now my top scoring students names after removing extra name are :', My_topStudents) 
print('Now after removing I have :'+ str(len(My_topStudents)) +' students in my list') 
My_topStudents.discard('Khurram Khalil') 
print('Now my top scoring students names after removing extra name are :', My_topStudents) 
print('Now after removing I have :'+ str(len(My_topStudents)) +' students in my list')

My top scoring students in Programming fundamentals are: {'Yusra', 'Usman', 'Bassam', 'Wadood', 'Rafeh', 'Ahad', 'Asma'}
Oh, I guess I miss one student, let me add his name too
Previously I have added :7 students in my list
Thanks, I have remember him
Now my top scoring students names are : {'Yusra', 'Usman', 'Bassam', 'Khurram Khalil', 'Wadood', 'Rafeh', 'Khurram Khan', 'Ahad', 'Asma'}
Now after adding I have :9 students in my list
Oh, I guess I have added one student with similar name, let me remove his name.
Now my top scoring students names after removing extra name are : {'Yusra', 'Usman', 'Bassam', 'Wadood', 'Rafeh', 'Khurram Khan', 'Ahad', 'Asma'}
Now after removing I have :8 students in my list
Now my top scoring students names after removing extra name are : {'Yusra', 'Usman', 'Bassam', 'Wadood', 'Rafeh', 'Khurram Khan', 'Ahad', 'Asma'}
Now after removing I have :8 students in my list

# PROGRAM NO # 8

In [17]:
My_topStudents = {'Bassam','Usman','Rafeh', 'Ahad', 'Wadood','Yusra', 'Asma'}
print('My top scoring students in Programming fundamentals are:', My_topStudents)
print('Oh, I guess I miss one student, let me add his name too')
print('Previously I have added :'+ str(len(My_topStudents)) +' students in my list')
My_topStudents.add('Khurram Khalil') 
My_topStudents.add('Khurram Khan')
print('Thanks, I have remember him')
print('Now my top scoring students names are :', My_topStudents) 
print('Now after adding I have :'+ str(len(My_topStudents)) +' students in my list') 
print('Oh, I guess I have added one student with similar name, let me remove his name.') 
My_topStudents.remove('Khurram Khalil')
print('Now my top scoring students names after removing extra name are :', My_topStudents)
print('Now after removing I have :'+ str(len(My_topStudents)) +' students in my list') 
My_topStudents.discard('Khurram Khalil')
print('Now my top scoring students names after removing extra name are :', My_topStudents) 
print('Now after removing I have :'+ str(len(My_topStudents)) +' students in my list')
My_topStudents.pop()
print('Now my top scoring students names after removing extra name are :', My_topStudents) 
print('Now after removing I have :'+ str(len(My_topStudents)) +' students in my list')

My top scoring students in Programming fundamentals are: {'Yusra', 'Usman', 'Bassam', 'Wadood', 'Rafeh', 'Ahad', 'Asma'}
Oh, I guess I miss one student, let me add his name too
Previously I have added :7 students in my list
Thanks, I have remember him
Now my top scoring students names are : {'Yusra', 'Usman', 'Bassam', 'Khurram Khalil', 'Wadood', 'Rafeh', 'Khurram Khan', 'Ahad', 'Asma'}
Now after adding I have :9 students in my list
Oh, I guess I have added one student with similar name, let me remove his name.
Now my top scoring students names after removing extra name are : {'Yusra', 'Usman', 'Bassam', 'Wadood', 'Rafeh', 'Khurram Khan', 'Ahad', 'Asma'}
Now after removing I have :8 students in my list
Now my top scoring students names after removing extra name are : {'Yusra', 'Usman', 'Bassam', 'Wadood', 'Rafeh', 'Khurram Khan', 'Ahad', 'Asma'}
Now after removing I have :8 students in my list
Now my top scoring students names after removing extra name are : {'Usman', 'Bassam', 'Wadood', 'Rafeh', 'Khurram Khan', 'Ahad', 'Asma'}
Now after removing I have :7 students in my list

# PROGRAM NO # 9

In [20]:
My_topStudents = {'Bassam','Usman','Rafeh', 'Ahad', 'Wadood','Yusra', 'Asma'} 
print('My top scoring students in Programming fundamentals are:', My_topStudents)
print('Lets clear this list and prepare new list for the final exams')
My_topStudents = My_topStudents.clear() 
print("\n")
print('Now after clearing the set I have :', My_topStudents)

My top scoring students in Programming fundamentals are: {'Yusra', 'Usman', 'Bassam', 'Wadood', 'Rafeh', 'Ahad', 'Asma'}
Lets clear this list and prepare new list for the final exams


Now after clearing the set I have : None

# PROGRAM NO # 10

In [22]:
phonebook1 = {'123-45-67', '234-56-78', '345-67-89','123-45-67', '34567-89'} 
phonebook3 = {'345-67-89','456-78-90'} 
print("Phonebook1 is :",phonebook1) 
print("Phonebook3 is :",phonebook3) 
print("The Union of Phonebook1 and Phonebook3:",phonebook1 | phonebook3) 
print("The Union of Phonebook3 and Phonebook1:",phonebook3 | phonebook1)
print("The Intersection of Phonebook1 and Phonebook3:",phonebook1 & phonebook3) 
print("The Intersection of Phonebook3 and Phonebook1:",phonebook3 & phonebook1) 
print("The Difference Between Phonebook1 and Phonebook3:",phonebook1 - phonebook3)

Phonebook1 is : {'345-67-89', '234-56-78', '34567-89', '123-45-67'}
Phonebook3 is : {'456-78-90', '345-67-89'}
The Union of Phonebook1 and Phonebook3: {'234-56-78', '123-45-67', '456-78-90', '34567-89', '345-67-89'}
The Union of Phonebook3 and Phonebook1: {'234-56-78', '456-78-90', '123-45-67', '34567-89', '345-67-89'}
The Intersection of Phonebook1 and Phonebook3: {'345-67-89'}
The Intersection of Phonebook3 and Phonebook1: {'345-67-89'}
The Difference Between Phonebook1 and Phonebook3: {'234-56-78', '34567-89', '123-45-67'}