# LAB NO # 9 (SETS)

# PROGRAM NO # 1

In [1]:
a=set()
for i in range(5):
    s=a.add(input())
print(a)

asad
sohaib
dani
ahsan
osama
{'osama', 'asad', 'ahsan', 'dani', 'sohaib'}

# PROGRAM NO # 2

In [2]:
s={'asad','daniyal','osama','sohaib','ahsan'}
s.remove('ahsan')
s.remove('sohaib')
print(s)
print("Remaining students are:",len(s))

{'asad', 'daniyal', 'osama'}
Remaining students are: 3

# PROGRAM NO # 3

In [ ]:
x={'biryani','tikka','broast','chicken','pizza'}
print(x)
print('\n')
print("Now i have to add some more delicious dishes")
print('\n')
x.add("beef boti")
x.add('malai boti')
print(x)
print("\n\n")
while True:
    if len(x)>0:
        x.pop()
        print(x)

{'pizza', 'tikka', 'broast', 'biryani', 'chicken'}


Now i have to add some more delicious dishes


{'pizza', 'tikka', 'malai boti', 'broast', 'beef boti', 'biryani', 'chicken'}



{'tikka', 'malai boti', 'broast', 'beef boti', 'biryani', 'chicken'}
{'malai boti', 'broast', 'beef boti', 'biryani', 'chicken'}
{'broast', 'beef boti', 'biryani', 'chicken'}
{'beef boti', 'biryani', 'chicken'}
{'biryani', 'chicken'}
{'chicken'}
set()

# PROGRAM NO # 4
**Write a program which will store numer of items in a set after each purchasing thw item will be pop from the set and comapare its price at the end of the program will give you the total amount of item have been sold.Also find max and min  amount of items sold**

In [ ]:
set={'biryani','tikka','broast','chicken','pizza','chocolate','neutela','bread','chicken'}
print(set)
print("\n")
s=input("Enter the item you want :")
while True:
    for i

{'pizza', 'chocolate', 'broast', 'tikka', 'bread', 'chicken', 'neutela', 'biryani'}


Enter the item you want :pizza

# PROGRAM NO # 5

In [6]:
universal_set=40
Both=10
hockey_players=21
only_hockey=hockey_players-Both
#to find the student who play cricket only
cricket_only=(universal_set-Both-hockey_players)
print("The students who play only cricket are :",cricket_only)
print("The studetns who play only hockey are :",only_hockey)
print("The students who play both games are :",Both)

The students who play only cricket are : 9
The studetns who play only hockey are : 11
The students who play both games are : 10

# PROGRAM NO # 6

In [9]:
dog=83
cat=101
fish=22
DC=31
DF=8
CF=10
DCF=6
others=34
only_dog=(dog-DC-DF-DCF)
print("The only Dog product purchases were :",only_dog)
only_cat=cat-DC-CF-DCF
print("The only cat purcahses were :",only_cat)
only_fish=fish-DF-CF-DCF
a=only_dog+only_fish
print("The purchases for only Dog and fish are :",a)
n=DC+DF+CF+DCF+others+only_dog+only_fish+only_cat
print("The total purchases were :",n)

The only Dog product purchases were : 38
The only cat purcahses were : 54
The purchases for only Dog and fish are : 36
The total purchases were : 179

# PROGRAM NO # 7

In [1]:
english=25
spanish=10
french=11
SE=20
EF=17
SF=9
SEF=13
total=110
noneofthem=110-(english+spanish+french+SE+EF+SF+SEF)
print("The only English and Spanish speakers are :",SE)
print("The people who do not speak one of them :",noneofthem)
print("The people who only speak french :",french)
print("The people who ony speak one of these are :",english+spanish+french)
print("The people who speak only two of three are :",SE+EF+SF)

The only English and Spanish speakers are : 20
The people who do not speak one of them : 5
The people who only speak french : 11
The people who ony speak one of these are : 46
The people who speak only two of three are : 46